/*=============================================================
                        CSS RESET
===========================================================  */
@font-face {
    font-family: 'IRSans_R';
    src: url(../font/IRANSansRegular.ttf) format('woff');
  }
@font-face {
    font-family: 'IRSans_B';
    src: url(../font/IRANSansBold.ttf) format('woff');
  }

  :root{
    /* The main palette */
    --acc-light: #f8f9fa;
    --acc-Purple: #8338EC;
    --acc-orange:#FB6107;
    --acc-pink:#F84AA7;
    --acc-green:#2EBC84; 
    --acc-dark:#2D3142;
    --acc-blue:#239AD7;
    --acc-yellow:#F0C808;
    /* light palette */
    --acc-shades-light-Purple: #B588F4;
    --acc-shades-light-orange:#FDA06A;
    --acc-shades-light-pink:#FB92CA;
    --acc-shades-light-green:#ABE4CE;
    --acc-shades-light:#C0C1C6;
    --acc-shades-light-blue:#A7D7EF;    
    --acc-shades-light-yellow:#F9E99C;    
    /* Dark palette */
    --acc-shades-dark-Purple: #4F228E;
    --acc-shades-dark-orange:#C94E06;
    --acc-shades-dark-pink:#9F2D6A;
    --acc-shades-dark-green:#1C714F;
    --acc-shades-dark:#1B1D28;
    --acc-shades-dark-blue:#155C81;
    --acc-shades-dark-yellow:#A48A0F;
  }
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "IRSans_R" !important;
    }
    ul {list-style: none;}
    a{
      text-decoration: none !important;
      color: var(--acc-dark) !important;
    }
    a:hover{color: var(--acc-shades-dark) !important;}
    body{
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
  }
  #particles-js{
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  .heading_style h5{
    position: relative;
    padding-bottom: 5px;
  }

  .heading_style h5::before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background: var(--acc-dark);
  }
  .heading_style h5::after {
    width: 200px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 10px;
    left: 50%;
    margin-left: -100px;
    background: var(--acc-dark);
  }
  .btn_hover:after{
    content: '';
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);
    transition: 0.5s;
    transition-delay: 0.5s;
  }
  .btn_hover:hover:after{
    right: 100%;
  }
  .btn_hover span{
    position: absolute;
    display: block;
    transition: 0.5s ease;
  }
  .btn_hover span:nth-child(1)
  {
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: var(--acc-shades-light);
  }
  .btn_hover:hover span:nth-child(1)
  {
    width: 100%;
    transform: translateX(100%);
  }
  .btn_hover span:nth-child(3)
  {
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background: var(--acc-shades-light);
  }
  .btn_hover:hover span:nth-child(3)
  {
    width: 100%;
    transform: translateX(-100%);
  }
  .btn_hover span:nth-child(2)
  {
    top: 0;
    left: 0;
    width: 1px;
    height: 0;
    background: var(--acc-shades-light);
  }
  .btn_hover:hover span:nth-child(2)
  {
    height: 100%;
    transform: translateY(100%);
  }
  .btn_hover span:nth-child(4)
  {
    bottom: 0;
    right: 0;
    width: 1px;
    height: 0;
    background: var(--acc-shades-light);
  }
  .btn_hover:hover span:nth-child(4)
  {
    height: 100%;
    transform: translateY(-100%);
  }
/*=============================================================
                      Dark/Light Mood
===========================================================  */
/* dark/light mood */
  body.light_theme {
    background: var(--acc-light);
    color: var(--acc-dark);
  }
  body.dark_theme {
    background: var(--acc-shades-dark);
    color: var(--acc-light);
  }
  .dark_theme .navbar,
  .dark_theme .footer,
  .dark_theme .form-wrap{
    background: var(--acc-dark);
  }
  .dark_theme a,
  .dark_theme .info{
    color: var(--acc-light) !important;
  }
  .dark_theme .hamburger_toggle .hamburger .bar,
  .dark_theme .heading_style h5::before,
  .dark_theme .heading_style h5::after{
    background: var(--acc-light);
  }
  .dark_theme .form_input input,
  .dark_theme .submit_btn{
    background: var(--acc-shades-dark);
    color: var(--acc-light);
  }

  /* toggle btn */
  .toggle {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
  }
  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--acc-dark);
    transition: .4s;
    border-radius: 34px;
    box-shadow: 0 3px 10px rgba(0, 0, 0,.5);
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background: var(--acc-light);
    transition: .4s;
    border-radius: 50%;
  }
  input:checked + .slider {
    background: var(--acc-light);
  }
  input:checked + .slider:before {
    transform: translateX(26px);
    background: var(--acc-dark);
  }

/*=============================================================
                      Navbar Section
===========================================================  */
/* navbar */
  .navbar {
    width: 100vw;
    z-index: 2;
    background: var(--acc-light);
    padding: 12px 0 8px !important;
  }
  /* navbaar brand */
  .navbar .navbar-brand{
    position: relative;
  }
  .navbar .navbar-brand img{
    width: 50px;
    margin-left: 20px;
  }

  /* navbar register btn */
  .navbar .signin_btn{
    width: 197px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: var(--acc-light);
    font-size:18px;
    letter-spacing: 0.5px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    background: var(--acc-green);
  }
  /* navbar list menu */
  .navbar .navbar-collapse {
    height: 100%;
    direction: rtl;
    /* justify-content: flex-start !important; */
    align-items: center;
  }
  .navbar-collapse .active {
    color: var(--acc-green) !important;
    font-family: 'IRSans_B' !important;
  }

  .navbar .navbar-nav .nav-item{
    height: 100%; 
    display: flex; 
    align-items: center;
    margin:0 15px;
  }
  .navbar .navbar-nav .nav-link{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .navbar .navbar-nav a{color: var(--acc-dark); font-weight: bold;}
  .navbar .navbar-toggler {outline: none;}
  .navbar .navbar-toggler:focus {box-shadow: none !important;}
  /* navbar toggle responsive mood */
  .hamburger_toggle {
    width: 50px;
    height: 50px;
    z-index: 11;
  }
  .hamburger_toggle .hamburger {pointer-events: none;}
  .hamburger_toggle .hamburger .bar {
    width: 35px;
    height: 5px;
    background: var(--acc-dark);
    margin: 6px 0;
    transition: 0.4s;
  }
  .hamburger_toggle .hamburger .bar {
    position: absolute;
    right: 0;
    transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
  }
  .hamburger_toggle .hamburger .bar1 {
    top: -15px;
    transform-origin: 50% 50%;
    transform: translate(0% -50%) !important;
  }
  .hamburger_toggle .hamburger .bar2 {
    top:-3px;
    transform: translate(0, -50%);
  }
  .hamburger_toggle .hamburger .bar3 {
    right:0px;
    top: 5px;
    transform-origin: 50% 50%;
  }
  .hamburger_toggle .hamburger .active .bar {
    position: absolute;
    margin: 0;
  }
  .hamburger_toggle .hamburger.active .bar1 {
    top: 0;
    transform: rotate(45deg);
  }
  .hamburger_toggle .hamburger.active .bar2 {
    right: 50%;
    opacity: 0;
    width: 0px;
  }
  .hamburger_toggle .hamburger.active .bar3 {
    top:0;
    right: 0;
    transform: rotate(-45deg);
  }
  /* navbar list menu hover effect */
  .cz_effect a {
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
  }
  .cz_effect a span:before {
    width: 5px;
    height: 5px;
    background: transparent;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-top: 2px solid var(--acc-green);
    border-left: 2px solid var(--acc-green);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
  }
  .cz_effect a span:after {
    width: 6px;
    height: 6px;
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-right: 2px solid var(--acc-green);
    border-bottom: 2px solid var(--acc-green);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
  }
  .cz_effect a:before {
    width: 6px;
    height: 6px;
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border-right: 2px solid var(--acc-green);
    border-top: 2px solid var(--acc-green);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
  }
  .cz_effect a:after {
    width: 6px;
    height: 6px;
    background: transparent;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-left: 2px solid var(--acc-green);
    border-bottom: 2px solid var(--acc-green);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
  }
  .cz_effect a:hover:before {
    opacity: 1;
    right: 5px;
    top: 5px;
  }
  .cz_effect a:hover:after {
    opacity: 1;
    left: 5px;
    bottom: 5px;
  }
  .cz_effect a:hover span:before {
    opacity: 1;
    left: 5px;
    top: 5px;
  }
  .cz_effect a:hover span:after {
    opacity: 1;
    right: 5px;
    bottom: 5px;
  }
.wallet{
  width: 30px;
  margin: 0 10px;
}
.wallet img{
  box-shadow: 4px 3px 0px rgba(0, 0, 0,.5);
}

/*=============================================================
                      Main Section
===========================================================  */
.main{
  width: 100vw;
  height: 80vh;
}

/*=============================================================
                      Tags Section
===========================================================  */
  /* Tegs btns group  */
  .tags  {
    margin: 10px 0 30px;
    z-index: 1;
    position: absolute;
    bottom: 20px;
  }
  .info_btns_group{
    direction: rtl;
    width: 100vw;
  }
  .info_btn{
    height: 65px;
    width: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: var(--acc-light);
    font-size:18px;
    letter-spacing: 0.5px;
    overflow: hidden;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    cursor: default !important;
  }
  .info_btn:nth-child(1){ background: var(--acc-shades-dark-blue);}
  .info_btn:nth-child(2){ background: var(--acc-shades-dark-yellow);}
  .info_btn:nth-child(3){ background: var(--acc-shades-dark-green);}
  .info_btn:nth-child(4){ background: var(--acc-shades-dark-pink);}
  .info_btn:nth-child(5){ background: var(--acc-shades-dark-orange);}
  .info_btn:nth-child(6){ background: var(--acc-shades-dark-Purple)}

 /* info boxs group */
  .info {
    width: 75vw;
    display: none;
    direction: rtl;
    color: var(--acc-light);
    margin: 0;
    padding: 5px;
    color: var(--acc-dark);
    overflow: hidden;
  }
  .info_inner {
    font-size: 18px;
    -moz-animation: marquee 20s linear infinite;
    -webkit-animation: marquee 20s linear infinite;
    animation: marquee 20s linear infinite;
  }
  @-moz-keyframes marquee {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @-webkit-keyframes marquee {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @keyframes marquee {
    0% {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    100% {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%)
    }
  }
/*=============================================================
                      Footer Section
===========================================================  */
  .footer{
    /* position: fixed;
    bottom: 0; */
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--acc-light);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

 /*=============================================================
                        Media Screen (Responsive)
===========================================================  */
@media (min-width: 350px) and (max-width: 375px) {
  body{overflow-y: scroll !important;}
  .info_btn{
    width: 140px;
    font-size: 12px;
    margin: 5px;
  }
  .info_boxs_group .info_inner{font-size: 14px;  }
  /* .info_inner{height: 15px !important;} */
  .footer .copyright{ font-size: 12px;}

}
@media (min-width: 350px) and (max-width: 612px){
  .info_btn{
    height: 40px;
    font-size: 16px;
  }
  /* .info_boxs_group{
    width: 90vw;
    padding-left: 30px !important;
  } */
}

@media (max-width: 767px) {
  .navbar-brand{
    position: absolute;
    left: 0;
  }
  .navbar-collapse{
    display: flex;
    flex-direction: column;
  }
  .navbar-collapse .right_side {
    flex-direction: column !important;
  }
  .navbar-collapse .left_side{
    display: flex;
  }

  /* .info_inner{
    height: 25px;
  } */
  /* .info_boxs_group{
    width: 90vw;
    padding-left: 65px;
  } */
}
/* @media (max-width: 1024px) {
  .info{width: 100%;}
} */
@media (max-width: 1140px) {
  .info_btn{
    width: 150px;
    height: 60px;
    padding: 5px;
    font-size: 15px;
  }
}
@media (max-width: 1366px) {
  .info_btn{
    width: 170px;
    height: 60px;
    padding: 5px;
    font-size: 15px;
  }
}
@media (max-width: 1440px) {}



/*********************************************************
                        register.html
**********************************************************/
.form_section{
  width: 100vw;
  height:100vh;
  z-index: 1;
}
.form-wrap {
  background: var(--acc-light);
  margin: auto;
  direction: rtl;
  border-radius: 5px;
 }
.tab-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: relative;
}
.tab-list::before {
  content: '';
  display: block;
  height: 5px;
  width: 50%;
  position: absolute;
  bottom: 0;
  background: var(--acc-green);
  border-radius: 5px;
  transition: .3s;
}
.tab-item {
  height: 85px;
  flex: 1;
  text-align: center;
  transition: .3s;
  cursor: pointer;
}
.tab-toggle {display: none;}
.tab-content {display: none; padding: 0 40px;}
.tab-toggle:nth-child(1):checked ~ .tab-list .tab-item:nth-child(1),
.tab-toggle:nth-child(2):checked ~ .tab-list .tab-item:nth-child(2) { 
  color: var(--acc-green);
  font-weight: 600;
}
.tab-toggle:nth-child(2):checked ~ .tab-list::before {transform: translateX(-100%);}
.tab-toggle:nth-child(1):checked ~ .tab-container .tab-content:nth-child(1),
.tab-toggle:nth-child(2):checked ~ .tab-container .tab-content:nth-child(2) {display: block;}

.tab-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  cursor:  pointer;
  width: 100%;
  height: 100%;
  font-size: 20px;
}
.tab-container {padding: 15px 30px;}
.input-group-text,
.form-control{
  border-radius: 0 !important;
  background: var(--acc-shades-light) !important;
  border: none !important;
}
.form-control:focus{
  box-shadow: none !important;
}
.lable{
  font-size: 18px;
  font-weight: bold;
}
.forget_pass{
  text-align: left;
}
.forget_pass a,
.send_code a,
.send_code{
  color: var(--acc-green) !important;
}
.send_code i{
  font-size: 30px;
}
.submit_btn{
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    /* color: var(--acc-light); */
    font-size:18px;
    letter-spacing: 0.5px;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    background: var(--acc-shades-light) ;
}